
GeometricMedADMM.xcodeproj/project.pbxproj

GeometricMedADMM.xcodeproj/project.xcworkspace/contents.xcworkspacedata

GeometricMedADMM.xcodeproj/project.xcworkspace/xcuserdata/Maziar.xcuserdatad/UserInterfaceState.xcuserstate

*.xcsettings

*.xcexplist

*.xcbkptlist

*.xcscheme

*.plist

*.pbxproj

*.pbxproj

*.pbxproj

*.xcworkspacedata
